# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# For spreadsheets app
spreadsheets/node_modules/
spreadsheets/npm-debug.log*
spreadsheets/yarn-debug.log*
spreadsheets/yarn-error.log*
spreadsheets/test/unit/coverage/

# For common app
common/node_modules/
common/npm-debug.log*
common/yarn-debug.log*
common/yarn-error.log*
common/test/unit/coverage/

# For signin-signup app
signin-signup/node_modules/
signin-signup/npm-debug.log*
signin-signup/yarn-debug.log*
signin-signup/yarn-error.log*
signin-signup/test/unit/coverage/
node_modules
